@font-face {
    font-family: heebo-black;
    src: url(~@/assets/fonts/Heebo-Black.ttf);
}

@font-face {
    font-family: heebo-light;
    src: url(~@/assets/fonts/Heebo-Light.ttf);
}

@font-face {
    font-family: almoni-tzar;
    src: url(~@/assets/fonts/almoni-tzar.ttf);
}